APP_NAME=transaction-service
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://transaction-service:8000

LOG_CHANNEL=stack
LOG_LEVEL=info

DB_CONNECTION=pgsql
DB_HOST=transaction-db
DB_PORT=5432
DB_DATABASE=transaction_db
DB_USERNAME=zenith
DB_PASSWORD=zenith

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_CLIENT=predis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PREFIX=

NOTIFICATIONS_QUEUE=queue:notifications

# Service lain (REST antar service)
AUTH_SERVICE_URL=http://auth-service:8000
ACCOUNT_SERVICE_URL=http://account-service:8000
